<uib-tabset active="active" justified="true">
    <!-- Segunda Tab -->
    <!-- Informações do grupo -->
    <uib-tab index="1" heading="Descrição do grupo" disable="true">
        <!-- Informações básicas -->
        <div class="well well-sm">
            <div class="form-group">
                <label for="nomeGroup">Nome do Grupo</label>
                <input type="text" class="form-control" id="nomeGroup" placeholder="Nome" ng-model="infoGroup.name">
            </div>
            <div class="form-group">
                <label for="telGroup">Telefone do Grupo</label>
                <input type="tel" class="form-control" id="telGroup" placeholder="Telefone" ng-model="infoGroup.phone">
            </div>
            <div class="form-group">
                <label for="emailGroup">E-Mail do grupo</label>
                <input type="email" class="form-control" id="emailGroup" placeholder="E-Mail" ng-model="infoGroup.email">
            </div>
        </div>

        <!-- Informações de locais onde toca -->
        <div class="form-group well well-sm">
            <label>Locais onde o grupo vai tocar</label>
            <div ng-repeat="play in wherePlay">
                <label><input data-checklist-model="infoGroup.wherePlay" data-checklist-value="play" type="checkbox" class="">{{play.place}}</label>
            </div>
        </div>
        <!-- Informações de estado e cidade onde toca -->
        <div class="well well-sm">
            <div class="form-group">
                <label>Selecione as cidades que o grupo vai tocar (pode ter mais de uma)</label>
                <div>
                    <label for="estateSelect">Estado de atuação</label>
                    <select name="estateSelect" class="form-control" ng-model="placeSelected.estate">
                        <option ng-repeat="estate in getEstate">{{estate.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="citySelect">Cidade de atuação</label>
                    <select name="citySelect" class="form-control" ng-model="placeSelected.city">
                        <option ng-repeat="city in getCity">{{city.name}}</option>
                    </select>
                </div>
            </div>

            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="6500">{{alert.msg}}</uib-alert>

            <div>
                <button type="button" class="btn btn-default" ng-click="addPlace()">Adicionar cidade</button>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Remover</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="p in infoGroup.place">
                    <td class="text-center"><a href="" ng-click="removeCity($index)">
                        <span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                    <td>{{p.estate}}</td>
                    <td>{{p.city}}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <!--<button class="pull-left btn btn-default" ng-click="back()">Voltar</button>-->
            <button class="pull-right btn btn-default" ng-click="next()">Próximo</button>
        </div>
    </uib-tab>

    <!-- Terceira Tab -->
    <!-- Informações sobre os integrates do grupo -->
    <uib-tab index="2" heading="Descrição de integrates" disable="true">
        <div>
            <div ng-repeat="person in infoGroup.groupData" class="well well-sm">
                <div class="form-group">
                    <label for="nome">Nome músico {{($index + 1)}}</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" ng-model="person.name">
                </div>
                <div class="form-group">
                    <label for="instrumento">Instrumeto</label>
                    <input type="text" class="form-control" id="instrumento" placeholder="Intrumento" ng-model="person.instrument">
                </div>
                <div class="form-group">
                    <label for="description">Descrição do músico {{($index + 1)}}</label>
                    <textarea rows="5" cols="15" class="form-control" id="description" placeholder="Descrição" ng-model="person.description"></textarea>
                </div>
            </div>
        </div>

        <div>
            <button class="pull-left btn btn-default" ng-click="back()">Voltar</button>
            <button class="pull-right btn btn-default" ng-click="next()">Próximo</button>
        </div>
    </uib-tab>

    <!-- Quarta Tab -->
    <!-- Informações sobre os pacotes do grupo -->
    <uib-tab index="3" heading="Pacotes de músicas" disable="true">
        <div>
            <!-- Repete para cada pacote do grupo -->
            <div ng-repeat="package in infoGroup.packages" class="well well-sm">
                <a href="" ng-click="removePackage($index)">
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                </a>
                <div class="panel panel-default space-top">
                    <div class="panel-heading">
                        <label>Músicas do pacote</label>
                    </div>
                    
                    <!-- Repete para cada musica do pacote -->
                    <div class="form-group panel-body" ng-repeat="music in package.musics">
                        <label for="nome">Música fornecidas pelo músico</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nome da música que vai tocar" ng-model="music.name">
                            <span class="input-group-addon">
                                <a href="" ng-click="removeMusic($parent.$index, $index)">
                        	        <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-defalt space-margin" ng-click="addMusic($index)">
                        <span class="glyphicon glyphicon-plus"></span>
                        Adicionar música
                    </button>
                </div>
                
                <div class="form-group">
                    <label for="instrumento">Quantidade de músicas para escolha do cliente</label>
                    <input type="text" class="form-control" placeholder="Quantidade" ng-model="package.amount">
                </div>
            </div>

            <button type="button" class="btn btn-defalt space-margin space-top" ng-click="addPackage()">
                <span class="glyphicon glyphicon-plus"></span>
                Adicionar pacote
            </button>
        </div>

        <div>
            <button class="pull-left btn btn-default" ng-click="back()">Voltar</button>
            <button class="pull-right btn btn-default" ng-click="next()">Próximo</button>
        </div>
    </uib-tab>

    <!-- Quinta Tab -->
    <!-- Confirmação dos dados passados e conclusão do cadastro -->
    <uib-tab index="4" heading="Finalizar" disable="true">
        <div>
            <h5>Confirme as informações</h5>
            <!-- Confirmação de informações sobre o grupo -->
            <div class="well well-sm">
                <div>
                    <p><label>Grupo {{infoGroup.name}}</label></p>
                    <p><label>Telefone: {{infoGroup.phone}}</label></p>
                    <p><label>E-Mail: {{infoGroup.email}}</label></p>
                </div>
                <hr class="divisor">
                <div>
                    <label>Locais onde tocar</label>
                    <div ng-repeat="play in infoGroup.wherePlay">
                        <label>{{play.place}}</label>
                    </div>
                </div>
                <hr class="divisor">
                <div>
                    <label>Região onde o grupo vai tocar</label>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Cidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in infoGroup.place">
                                <td>{{p.estate}}</td>
                                <td>{{p.city}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="well well-sm">
                <label>Integrates do {{infoGroup.type}}</label>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Músico</th>
                            <th>Instrumento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="person in infoGroup.groupData">
                            <td>{{person.name}}</td>
                            <td>{{person.instrument}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="well well-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pacote</th>
                            <th>Músicas fornecida</th>
                            <th>Músicas do cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="package in infoGroup.packages">
                            <td>{{$index + 1}}</td>
                            <td>{{package.musics.length}}</td>
                            <td>{{package.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div>
            <button class="pull-left btn btn-default" ng-click="back()">Voltar</button>
            <button class="pull-right btn btn-default" ng-click="finish()">Atualizar</button>
        </div>
    </uib-tab>
</uib-tabset>