body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.block
{
  margin-left: 5px;
  margin-right: 5px;

  border-bottom-width: 2px;

  border-top-width: 2px;

  border-color: #000000;
}

.block-heading
{
  border-bottom-width: 1px;
}